//-
  options.type - type (string), default - text
  options.name - name (string)
  options.label - label (string)
  options.required - required (boolean)
  options.placeholder - placeholder (string)
  options.date - добавить классы для datepicker и паттерн (boolean)
  options.more - добавить только кнопку для выпадающего контента (boolean)
  options.dropdown - добавить кнопку, классы и атрибуты для dropdown (boolean)

mixin input(options)
  if !options
    - options = {}

  -
    var classes = 'input__field';
    classes += options.date ? ' js-datepicker' : '';
    classes += options.dropdown ? ' js-dropdown input__field_dropdown' : '';
    var pattern = options.date ? '[0-9]{2}\.[0-9]{2}\.[0-9]{4}' : false;
    var type = options.type ? options.type : 'text';
    var inner = options.more || options.dropdown ? 'div' : false

  div.input
    if options.label
      label.input__label= options.label
        div.input__inner
          input(
                type= type,
                autocomplete= "off",
                name= options.name,
                placeholder= options.placeholder,
                required= options.required,
                class= classes,
                pattern= pattern,
                readonly= options.dropdown
              )
          if options.more || options.dropdown
            span.input__button
             i.material-icons expand_more
      block

    else
      input.input__field(
                  type= type,
                  name= options.name,
                  placeholder= options.placeholder,
                  required= options.required,
                  class= classes
                )

