//-
  options.slogan - слоган (string)
  options.menuColumns - массив колонок меню (array)
    options.menuColumns[0].lists - список ссылок (array)
      options.menuColumns[0].lists[0].name - название ссылки (string)
      options.menuColumns[0].lists[0].href - ссылка (string)
  options.subscribe - инфо для колонки с подпиской (object)
    options.subscribe.title - заголовок (string)
    options.subscribe.text - промо текст подписки (string)
    options.subscribe.placeholder - заглушка для инпута (string)
  options.copyright - текст копирайта (string)


include ../logo/logo

mixin footer(options)

  footer.footer
    .footer__top-wrapper
      .container
        .footer__top-section

          .footer__left-column
            +logo
            p.footer__slogan= options.slogan

          .footer__central-column
            each column in options.menuColumns
                div.footer__munu-item
                  h3.footer__title= column.title
                  ul.footer__list
                    each list in column.lists
                      li.footer__list-item
                        a(href = list.href class= 'footer__link')= list.name


          .footer__right-column
            h3.footer__title= options.subscribe.title
            p.footer__subscribe-text= options.subscribe.text
            form.footer__form(action="")
              input(type="email", name="email", class="footer__email-input", required, placeholder= options.subscribe.placeholder)
              button.footer__submit-button
                i.material-icons arrow_forward

    .footer__bottom-wrapper
      .container
       .footer__bottom-section
          a.footer__link(href = "/")= options.copyright
          div.footer__social-bar
            a.footer__social-link(href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer")
               include ./img/twitter_icon.svg
            a.footer__social-link(href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer")
               include ./img/facebook_icon.svg
            a.footer__social-link(href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer")
               include ./img/instagram_icon.svg
