//-
    options.number - номер комнаты (string)
    options.class - класс комнаты (string)
    options.price - цена комнаты за сутки (string)
    options.rate - оценка комнаты (string or number)
    options.numberReviews - количество отзывов (string or number)

include ../rate-button/rate-button

mixin room-preview(options = {})

  - options.imgSet = options.imgSet ? options.imgSet : 0;

  div.room-preview
    div.room-preview__carousel.js-carousel
      div.room-preview__slide
        img(src=require('Components/room-preview/img/rooms/room-' + options.number + '.jpg'), alt="room photo")
      div.room-preview__slide
        img(src=require('Components/room-preview/img/rooms/room-example-1.jpg'), alt="room photo")
      div.room-preview__slide
        img(src=require('Components/room-preview/img/rooms/room-example-2.jpg'), alt="room photo")
      div.room-preview__slide
        img(src=require('Components/room-preview/img/rooms/room-example-3.jpg'), alt="room photo")
      div.room-preview__prev
        i.material-icons.room-preview__prev-icon expand_more
      div.room-preview__next
        i.material-icons.room-preview__next-icon expand_more

    div.room-preview__info
      div.room-preview__number
        a.room-preview__title(href = "/")
          span.room-preview__title_smaller &#8470;&nbsp;
          | !{options.number}
        if options.class
          span.room-preview__class= options.class
      div.room-preview__price
        span.room-preview__price-digit !{options.price}&#8381;
        span.room-preview__price-descr &nbsp;в сутки

    div.room-preview__rating
      +rate-button({rate: options.rate})
      div.room-preview__reviews
        span.room-preview__reviews-digit= options.numberReviews
        span.room-preview__reviews-descr Отзывов







